* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}



				/*HEADER*/


body {
	background: #FEFEFE;
}

header {
	width: 100%;
	height: 60px;
	font-family: 'Poppins', sans-serif;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	transition: all 500ms;
	background: white;
	box-shadow: 1px 2px 8px #DDDDDD;

} 



.container__header {
		max-width: 1200px;
		height: 100%;
		display: flex; 
		justify-content: space-between;
		margin: auto;
		padding: 0px 20px;
}



header .logo {
	height: 100%;
	display: flex;
	justify-content: center; /*alinear horizontal*/
	align-items: center; /*alinear vertical*/
} 



.logo img {
	width: 150px;
}   



.container__nav {
	position: relative;
	height: 100%;
}



nav {
	height: 100%;
}



nav ul {
	height: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
}



nav ul li {
	margin: 0px 20px;
	list-style: none;
}



nav ul li .aespecial {
	color: #373737;
	font-size: 14px;
	position: relative;
	transition: all 300ms ease;
	padding: 10px 30px;
	box-shadow: 0 0.9px 3px rgba(0, 0, 0, 0.105);
}



nav ul li .aespecial:hover {
	color: #000000;
	color: black;
}
	


nav ul li .aespecial:after {
	content: "";
	position: absolute;
	background-color: #ff3c78;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -3px;
	transition: 0.3s;
}


nav ul li .aespecial:hover:after {
	width: 100%;
}



nav ul li .select {
	padding: 10px 30px;
	color: #FFFFFF;
	transition: 700ms;
	border-radius: 7px;
	background: linear-gradient(#FF6C6C, #FF6E6E);
}



nav ul li .select:hover {
	border-radius: 30px;
	color: #2A2A2A;
}



.nav_mod {
	height: 70px;
	box-shadow: 1px 1px 10px 0px #ABABAB;
	background: #FDFDFD;
}



			/*CONTENIDO*/

			/*FONDO TIPO OLA*/


.azul {
	width: 100%;
    height: 70%;
    background: #2196f3;
    position: absolute;
    top: 0;
}



.olas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 150px;
	left: 0;
	background-image: url(../img/fondo.svg);
	background-position: bottom;
}




			/*INICIO*/

			

.cover {
	width: 100%;
	padding-bottom: 120px;
	font-family: 'Poppins', sans-serif;
	margin-top: 50px;
	position: relative;
	overflow: hidden;

}



.container__cover {
	max-width: 1200px;
	margin: auto;
	padding: 20px;
	display: flex;
	justify-content: space-between;   
	position: relative;
}



.cover .container__info {
	max-width: 400px;
	margin-top: 40px;
	z-index: 2;
}



.cover h1 {
	max-width: 400px;
	font-size: 60px;
	font-weight: 900;
	color: #B53B3B;
}



.cover h2 {
	font-size: 40px;
	font-weight: 900;
	color: #FEBA0B;
	line-height: 43px;
}



.cover p {
	margin-top: 10px;
	color: #FFFFFF;
	text-align: justify; /*justificar texto*/
}



.cover input[type="button"] {
	padding: 10px 40px;
	margin-top: 20px;
	font-size: 18px;
	font-weight: 600;
	border: none;
	color: white;
	background: #D30808;
	border-radius: 20px;
	box-shadow: 1px 1px 30px -5px #20202049;
	cursor: pointer;
	transition: .6s;

}



.cover input[type="button"]:hover {
	background: #FFD500;
	color: black;

}



.container__vector {
	position: relative;

}



.container__vector img {
	position: absolute;
	top: 30px;
	right: 0px;
	width: 600px;
	animation: move_vector 6s ease-in-out infinite;  
	transition: all 300ms;
}



@keyframes move_vector {
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}



.text {
	max-width: 400px;
	margin-top: 40px;
	z-index: 2;
}


				/*CONTENIDO PRINCIPAL*/


.h2main {
	text-align: center;
	font-size: 40px;
	font-family: 'Poppins', sans-serif; 
}
	

.container__card {
    max-width: 900px;
    padding: 40px;
    padding-bottom: 30px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}



.cards {
    width: 300px;
    padding: 30px 0px;
    position: relative;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
}



.cards:hover .info__description {
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;

}



.cards:hover .icon {
    margin-top: -60px;
    border-radius: 20px 20px 0px 0px;
}



.icon {
    width: 100%;
    height: 200px;
    background: #EFF3F5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}



.icon i {
    font-size: 90px;
    color: #fff;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
}



.info__description {
    width: 100%;
    height: 200px;
    color: #474747;
    background: #EFF3F5;
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}



.info__description p {
    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}



.info__description input {
    margin-top: 20px;
    padding: 10px 40px;
    background: #2196f3;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
}



.info__description input:hover {
    box-shadow: 1px 1px 30px -5px #20202070;
}


/*COLOR DE LAS CARD*/

.c1:hover .icon{
    background: #DD4B25;
}

.c1 .icon i{
    color: #DD4B25;
    transition: all 800ms ease;
}

.c1:hover .icon i{
    color: #fff;
    transform: scale(1.3);
}



.c2:hover .icon{
    background: #146EB0;
}

.c2 .icon i{
    color: #146EB0;
    transition: all 800ms ease;
}

.c2:hover .icon i{
    color: #fff;
    transform: scale(1.3);
}



.c3:hover .icon{
    background: #E8B600;
}

.c3 .icon i{
    color: #E8B600;
    transition: all 800ms ease;
}

.c3:hover .icon i{
    color: #fff;
    transform: scale(1.3);
}



.c4:hover .icon{
    background: #FF2727;
}

.c4 .icon i{
    color: #FF2727;
    transition: all 800ms ease;
}

.c4:hover .icon i{
    color: #fff;
    transform: scale(1.3);
}




				/* MIEMBROS */



.h1__nosotros {
	font-family: "Poppins", sans-serif;
    text-align: center;
    padding-top: 120px;
    color: rgb(97, 96, 96);
}



.card {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}



.card__descripcion {
	font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 20px 25px;
    color: rgb(53, 53, 53);
}
  


.card__perfil {
    width: 310px;
    padding: 20px;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    transition:  all 700ms;
}



.card__perfil:hover {
    box-shadow: 10px 10px 0px 0px #FF0000, 20px 20px #D13535, 30px 30px 14px #F37575;
    transform: translate(-5px, -5px);
}


.card__perfil .img__nosotros {
	width: 80px;
}



.card__perfil:hover .img__nosotros {
    transform: rotate(0);
}



.img__nosotros {
    width: 170px;
    border-radius: 50%;
    transform: rotate(-30deg);
    transition: all .3s;
}



.card__nombre {
	font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}



.card__nombre .pnosotros {
	margin-top: 10px;
}




				/*VIDEOS*/



section {
	min-height: 100vh;
	padding: 0 3%;
	padding-top: 7.5rem;
	padding-bottom: 2rem;
}



.iniciovideo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../img/Background-video.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 40px;
	font-family: Poppins
}



.iniciovideo .imagevideo {
	width: 230vh; 
	animation: move_img 6s ease-in-out infinite;  
	transition: all 300ms;
}



@keyframes move_img {
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}





.iniciovideo .container__video .h2video {
	font-size: 2.2rem;
	color: #333;
	width: 80%;
}




.iniciovideo .container__video .h2video span {
	color: #F05A5A;
}



.iniciovideo .container__video .pvideo {
	font-size: 1.1rem;
	color: #2B2B2B;
	padding: 1rem 0;
	width: 70%;
}



.container__video .bocalc {
	background: #687BFF;
	border-radius: 5rem;
	padding: .4rem 2rem;
	color: black;
	transition: 300ms;
}



.container__video .bocalc:hover {
	background: #FB2946;
}



.container__video .bowriter {
	background: #3BFFB5;
	border-radius: 5rem;
	padding: .4rem 2rem;
	color: black;
	transition: 300ms;
}



.container__video .bowriter:hover {
	background: #FB2946;
}





				/*LIBRE OFFICE*/



html {
	scroll-behavior: smooth;
}



.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 100px auto;
	display: grid;
	grid-template-columns: 30% 70%;
	gap: 20px;
	font-family: "Poppins", sans-serif
}



.enlaces {
	position: sticky;
	top: 100px;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}



.navi .av {
	display: block;
	text-decoration: none;
	padding: 5px 20px;
	border-radius: 3px;
	color: #2063ff;
	font-size: 15px;
}



.navi .av:hover {
	background: #ccedff;
}



.navi .avi {
	padding: 6px 17px;
	font-size: 14px;
	font-weight: 300;
	border: none;
	color: #FFFFFF;
	background: #FF2B2B;
	cursor: pointer;
	transition: all 300ms ease;
	display: block;
	text-align: center;
	border-radius: 10px/30px; /* horizontal radius / vertical radius */;
}



.navi .avi:hover {
	background: #FF4747;
}



.seccion {
	padding: 50px 40px 40px 40px;
	margin-bottom: 70px;
	border-radius: 5px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}



.seccion p {
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
	color: #414141;
	text-align: justify;
}

.seccion br {
	margin-bottom: 30px;
}



.encabezado {
	display: flex;
	align-item: center;
	font-weight: 700;
	padding-top: 20px;
	margin-bottom: 20px;
}



.spanlibr {
	font-weight: bold
}



.imglibre img {
	margin: auto;
	display: block;
	width: 400px;
	margin-top: 30px;
}


				/*FOOTER*/


footer{
    width: 100%;
    padding: 10px 0px;
    background-image: url(../imgfoter/wave10.svg);
    background-size: cover;
    position: sticky;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 450px;
    font-family: Poppins, sans-serif;
}



.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}



.box__footer .logo img{
    width: 150px;
    animation: move_foo 9s ease-in-out infinite;  
}



@keyframes move_foo {
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}

.box__footer h4{
    margin-bottom: 10px;
    color: #1E0007;
    font-weight: 600;
}



.box__footer a{
    margin-top: 10px;
    color: #131313;
    font-weight: 600;
    transition: all 500ms ease
}



.box__footer a:hover{
    transform: scale(1.1);
}



.box__footer a .fab{
    font-size: 20px;
}



.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}



.box__copyright p{
    margin-top: 5px;
    color: #131313;
}



.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #02092A;
}
